@page "{id:int}"
@model PraktikSystem.Pages.CRUD_Operations.DeleteLogbogModel
@{
    <h1>Delete Logbog</h1>

    <p>Are you sure you want to delete this logbog?</p>

    <form method="post">
        <button type="submit">Delete Logbog</button>
    </form>
}
